@import "./shared/variables.scss";
@import "./shared/nav.scss";

body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
}

// Main content
main {
    $gap: 4vw;
    display: flex;
    gap: $gap;
    width: 90%;
    height: fit-content;
    margin-top: 9vw;

    // People cards
    > div {
        width: calc(25% - (3/4 * $gap));
        text-align: center;
        background-color: white;
        box-shadow: 0 0 5px 3px rgba($darkGrey, .5);
        padding: 2vw;
        transition-duration: 0.8s;

        // Name
        > h1 {  
            font-family: "Hintown";
            font-size: 2vw;
        }

        // Description
        > p {
            font-family: "Segoe UI";
            font-size: 1vw;
        }

        // Avatar
        > img {
            width: 50%;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
    > div:hover {
        box-shadow: 0 0 2vw rgba($darkGrey, .5);
        border-radius: 1.5vw;
        scale: 1.1;
    }
}

body {
    background-color: $darkerGreen;
}