@import "./shared/variables.scss";
@import "./shared/nav.scss";

body {
    background-color: $darkerGreen;

    .logout-class{
        margin: auto;
        width: 50%;
        padding: 80px;

        button.logout {
            margin: auto;
            width: 100%;
            padding: 10px;
            text-decoration: none;
            font-size: 2vw;
            font-family: "Hintown";
            padding: 0;
            color: black;
            cursor: pointer;
        }
    }
}

main {
    $gap: 4vw;
    display: flex;
    gap: $gap;
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 15vw;
    padding: 10px;

    > div {
        width: calc(33% - (3/4 * $gap));
        text-align: center;
        background-color: white;
        box-shadow: 0 0 5px 3px rgba($darkGrey, .5);
        padding: 2vw;
        transition-duration: 0.8s;

        // Description
        > p {
            font-family: "Segoe UI";
            font-size: 1vw;
        }

        // Avatar
        > img {
            width: 50%;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }

    > div:hover {
        box-shadow: 0 0 2vw rgba($darkGrey, .5);
        border-radius: 1.5vw;
        scale: 1.1;
    }

    h1 {  
        font-family: "Hintown";
        font-size: 2vw;
    }

}
