@import "./shared/variables.scss";
@import "./shared/nav.scss";


body {
    background-color: $darkerGreen;
}

main {
    margin: auto;
    margin-top: 8vw;
    font-family: "CrimsonText";
    width: 75%;

    .quiz-card {
        font-size: 1vw;
        margin: 2vh;
        display: flex;
        background-color: $white;
        box-shadow: 0 0 5px 3px $shadow;
        cursor: pointer;

        .quizData {
            padding-left: 2vw;
            padding-right: 2vw;
            padding-bottom: 2vh;
            align-items: center;
            gap: 2vw;
            
            img {
                box-shadow: 1px 3px 5px $shadow;
                height: 100%;
                max-height: 80%;
                max-width: 80%;
            }
            
            .quiz-thumbnail {
                box-shadow: 1px 3px 5px $shadow;
                height: 100%;
                border: 5px solid black;
            }

            .quiz-title {
                font-family: "hintown";
                font-size: 2.5em;
                vertical-align: center;
            }

        }
    }
}