@import "./shared/variables.scss";
@import "./shared/nav.scss";

// Main flexbox that contains title, search, filters, etc.
main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    align-items: center;
    background-color: transparent;

    // The "Forage" title above the search bar
    > h1 {
        font-family: "Hintown";
        font-size: 8vw;
        margin: 0;
        color: rgb(4, 46, 0);
    }

    //div for search bar
    > #search-wrapper {

        border-radius: 100vmax;
        font-size: 1.5vw;
        width: 60vw;
        box-shadow: 0 0 1vw black;
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 3.25vw;
        background-color: white;

        > #search {
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            padding-left: 2vw;
            padding-top: 1vw;
            padding-bottom: 1vw;
        }

        //magnifying glass
        > img {
            height: 50%;
            width: auto;
            z-index: 2;
            padding-right: 1vw;
            cursor: pointer;
        }
    }

    // Filters div
    > div:not(:first-child) {
        display: flex;
        gap: 1vw;

        // "Filters" button buttons
        > button {
            font-size: 1vw;
            border: none;
            padding: 0.75vw;
            box-shadow: 0 0 1vw black;
            border-radius: 1.5vw;
            display: flex;
            position: relative;
            --rotation: -90deg;
            transition: opacity 300ms;

            // Filter buttons
            &:not(#filters) {
                display: none;
                transition: border-radius 300ms 250ms, opacity 300ms;

                // Filter triangles
                &::after {
                    content: "▼";
                    rotate: var(--rotation); // This cant be a SCSS variable because it must be edited by JS and thus available at runtime
                    display: block;
                    width: 0px;
                    opacity: 0;
                    overflow-x: hidden;
                    margin-left: 0px;
                    transition: width 300ms, opacity 300ms, margin-left 300ms, rotate 300ms;
                }

                &:hover {
                    border-radius: 0px;
                    transition: border-radius 300ms;

                    &::after {
                        width: 1vw;
                        margin-left: 0.75vw;
                        opacity: 1;
                    }
                }

                // Dropdown Menus
                > div {
                    background-color: white;
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    height: 0px;
                    overflow: hidden;
                    transition: height 300ms;
                    box-shadow: 0 0 15px black;
                    z-index: 2;
                    clip-path: inset(0px -15px -15px -15px);

                    // Rating Stars
                    >div>img {
                        width: 20%;
                        height: auto;
                    }
                }
            }
        }
    }
}

// The background image
body {
    background-image: url("/assets/images/background2.jpeg");
    background-size: cover;
    background-position: center;
}

body,
html {
    overflow-y: hidden;
}

button {
    cursor: pointer;
}

.and-above {
    scale: 1.5;
}

input {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
    line-height: 1em;

    //removes up and down arrows for numerical input
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

// Genres
#genre, #mechanics {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;

    // Individual genre line
    >div {
        text-align: left;
        height: 1em;
        padding: 0.5em;
        width: 100%;

        &:hover {
            background-color: #CCCCCC;
        }
    }
}