//format for color declarations and any other variables
$bgcolor: #fff;
$maincolor: #fff;
$white: #fff;
$lightGrey: #fff;
$darkGrey: #0f0;
$black: #000;

// font formatting for local files, these are then referenced with font-family: "Lato";
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	src: local("Lato Regular"), url("./panda/Lato-Regular.ttf") format("truetype");
}
